  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Reserva de vehículos</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
          <h3>País</h3>
          <select class="form-control" [(ngModel)]="selectedPais" (change)="onChangePaises(selectedPais)"> // value is an
            object
            <option *ngFor="let pais of paises" [ngValue]="pais">{{pais.name}}</option>
          </select>
        </div>
        <div class="row">
          <h3>Ciudad</h3>
          <select class="form-control" [(ngModel)]="selectedCiudad"> // value is an object
            <option *ngFor="let pais of ciudades" [ngValue]="pais">{{pais.name}}</option>
          </select>
        </div>
        <div class="row text-center">
          <div class="col-sm-6">
            <h3>Retiro</h3>
            <p-calendar [(ngModel)]="retiro" [showTime]="true"></p-calendar>
          </div>
          <div class="col-sm-6">
            <h3>Devolución</h3>
            <p-calendar [(ngModel)]="devolucion" [showTime]="true"></p-calendar>
          </div>
        </div>
        <div class="row pull-right">
          <button class="btn btn-primary" id="btnConsultar" (click)="getVehiculosDisponible()">Consultar</button>
        </div>
      </div>
    </div>

    <div class="row">
      <table class="table table-hover">
        <tr>
          <th>Id</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Cantidad Disponible</th>
          <th>Cantidad Puertas</th>
          <th>Precio Por Día</th>
          <th>Puntaje</th>
          <th>Tiene Aire Acondicionado</th>
          <th>Tiene Dirección</th>
          <th>Tipo Cambio</th>
          <th>Acción</th>
        </tr>
        <tr *ngFor="let vehiculo of vehiculos">
          <td>{{vehiculo.id}}</td>
          <td>{{vehiculo.marca}}</td>
          <td>{{vehiculo.modelo}}</td>
          <td>{{vehiculo.cantidad_disponible}}</td>
          <td>{{vehiculo.cantidad_puertas}}</td>
          <td>${{vehiculo.precio_por_dia}}</td>
          <td>{{vehiculo.puntaje}}</td>
          <td>{{vehiculo.tiene_aire_acon}}</td>
          <td>{{vehiculo.tiene_direccion}}</td>
          <td>{{vehiculo.tipo_cambio}}</td>
          <td><a  class="fa fa-check" routerLink="/reserva_vehiculos" (click)="hacerReserva(vehiculo)" ></a></td>
        </tr>
      </table>
    </div>
  </div>
