<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <app-header></app-header>
    <!--<div class="container">-->
      <!--&lt;!&ndash; Main component for a primary marketing message or call to action &ndash;&gt;-->
      <!--<div class="jumbotron">-->
        <!--<h1>Turicor</h1>-->
        <!--<p>Haz el login para poder ingresar a nuestro sitio.</p>-->
        <!--<p>-->
          <!--<a class="btn btn-lg btn-primary" href="http://localhost:8000/login/" role="button">Login</a>-->
        <!--</p>-->
      <!--</div>-->
    <!--</div>-->
    <router-outlet></router-outlet>
  </body>
</html>
