<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>Reserva de Vehiculos</h1>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Nombre y Apellido</h3>
    <input class="form-control">
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Número de Documento</h3>
    <input class="form-control">
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Lugar de retiro</h3>
    <input class="form-control">
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <h3>Lugar de devolución</h3>
    <input class="form-control">
  </div>

  <div class="col-sm-4">
    <h3>Fecha De Reserva</h3>
    <h5>{{fechaActual | date:'medium'}}</h5>
  </div>
  <div class="col-sm-4">
    <h3>Fecha De Retiro</h3>
    <h5>{{retiro | date:'medium'}}</h5>
  </div>
  <div class="col-sm-4">
    <h3>Fecha De Devolución</h3>
    <h5>{{devolucion | date:'medium'}}</h5>
  </div>

  <div class="col-xs-9">
    <h4>Detalles reserva</h4>
    <div class="col-xs-9 ">
      <ul class="list-group">
        <li class="list-group-item"><label>Marca: </label>{{vehiculo.marca}}</li>
        <li class="list-group-item"><label>Modelo: </label>{{vehiculo.modelo}}</li>
        <li class="list-group-item"><label>Cantidad Disponible: </label>{{vehiculo.cantidad_disponible}}</li>
        <li class="list-group-item"><label>Cantidad de Puertas: </label>{{vehiculo.cantidad_puertas}}</li>
        <li class="list-group-item"><label>Precio por día: </label>{{vehiculo.precio_por_dia}}</li>
        <li class="list-group-item"><label>Puntaje: </label>{{vehiculo.puntaje}}</li>
        <li class="list-group-item"><label>Aire acondicionado: </label>{{vehiculo.tiene_aire_acon}}</li>
        <li class="list-group-item"><label>Dirección: </label>{{vehiculo.tiene_direccion}}</li>
        <li class="list-group-item"><label>Tipo de Cambio: </label>{{vehiculo.tipo_cambio}}</li>
      </ul>
    </div>
  </div>
  <div class="row pull-right">
    <button class="btn btn-primary" (click)="reservar()" >Realizar Reserva</button>
  </div>
</div>
